audio_output {
	type "pulse"
	name "pulse audio"
}

audio_output {
	type "fifo"
	name "mpd_fifo"
	path "/tmp/mpd.fifo"
	format "44100:16:2"
}

bind_to_address "127.0.0.1"
bind_to_address	"/var/mpd/socket"
port "6600"

music_directory "/var/mpd/music"
pid_file "/var/mpd/mpd.pid"
db_file "/var/mpd/mpd.db"
state_file "/var/mpd/mpdstate"
playlist_directory "/var/mpd/playlists"
